
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/sontoloyo1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.wahhh{
     position: absolute;
     color: white;
     left: 27%;
     top: 82%;
     text-underline-position: 30;
     transform: translate(-50%,-50%);
     direction: rtl: 200;
       
}

.wahhh h2{
    Font-family: Great Vibes ;
    font-size: 30px;}
ul{
    float: inherit;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    border: 1px solid;
    transition:0.7s;
    margin-top: 10px;

}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #222;
}
.logo img {
    float: left;
    width: 400px;
    height: auto;
    margin: 250px;
  }
.main {
    max-width: 1800px;
    margin: 0 auto;

}
.title{
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%,-50%);
    
}
.title h1{
     font-family: Staatliches ;           
    color: #fff;
    font-size: 80px;
} 


.button{
    position: absolute;
    top: 59%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.btn1{
    border: 1px solid;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 5px;
    margin: 10x;
}
.btn1:hover{
    background: #fff;
    color: #000;
}
.btn2{
    border-bottom: #fff;
    color: #000;

}
.btn2{
    border: 1px solid;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    transition:0.6s ease;
    border-radius: 5px;
}
.btn2:hover{
    background: #fff;
    color: #000;
}
.bio p{
    font-family: monospace;
    color: #fff;
    font-size: 20px;
    bottom: 50%;
    top: 45%;

}

