   table tr td{
    background-color: pink;
   font-family: initial;
    color: black ;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;

 }
 .h{
    border: 8px groove pink;
    padding: 20px;
 }
 .posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
 }
 body{
    background-image: url(img/uhuhuh.jpg);
    background-repeat: no-repeat;
    background-size: 1400px auto;
    height: 100vh;
    background-position: center;
    background-size: cover;

 }

/* .tentang {
   color: white !important;
 }
*/